
<h2><a href="/slide10">Go To Market - Users</a></h2>
<div id="tb-presentation-container">
  <ul>
    <li>Sign select Clubs and Promoters, have them directly refer users</li>
    <li>Sponsor/co-sponser Events to lift brand awareness</li>
    <li>Social Proof via sharing events, plans, reviews, etc. via Social Media</li>
  <ul>
</div>