
<h2><a href="/slide6">Revenue</a></h2>
<div id="tb-presentation-container">
  <ul>
    <li>Fees per referral.
      <ul>
        <li>Initially 1-5%. (Promoters standard cut is 10-15%)</li>
      </ul>
    </li>
    <li>Future revenue streams include
      <ul>
        <li>Slowly replace Promoters in the sales pipeline, obtain larger cut from clubs</li>
        <li>Further on, charge Nightclub per user (model similar to OpenTable)</li>
      </ul>
    </li>
  <ul>
</div>