
<h2><a href="/slide8">Competitors</a></h2>
<div id="tb-presentation-container">
  <ul>
    <li>EzVip.com
      <ul>
        <li>Raised $150k from Mark Cuban</li>
        <li>Being generally rejected by Clubs and Promoters</li>
      </ul>
    </li>
    <li>NightPro App
      <ul>
        <li>Different market - pure b2b venue management</li>
      </ul>
    </li>
    <li>VIPnite.com
      <ul>
        <li>Different concept (non-tech, white-glove concierge)</li>
        <li>Restricted market (Las Vegas only)</li>
      </ul>
    </li>
  <ul>
</div>