
<h2><a href="/slide9">Go To Market - Clubs</a></h2>
<div id="tb-presentation-container">
  <ul>
    <li>Supported by Sean Holland (aka Kicker), owner of:
      <ul>
        <li>Prive</li>
        <li>Gold Room (in process of re-opening/re-branding)</li>
        <li>label. (Charlotte, NC)</li>
      </ul>
    </li>
    <li>Dedicated and well-connected industry sales team (4 people)</li>
  <ul>
</div>