
<h2><a href="/slide3">Problem</a></h2>
<div id="tb-presentation-container">
  <ul>
    <li>Making reservations at a mid-to-high end Nightclub is a difficult process filled with middle-men.</li>
    <li>Paying and settling checks at these clubs is a difficult and stressful process.</li>
  <ul>
</div>