

<h2><a href="/slide5">Market</a></h2>
<div id="tb-presentation-container">
  <ul>
    <li>Nightclub industry is a $22b/y Market in the USA alone.</li>
    <li>Event Promotion industry is $24b/y Market</li>
    <li>Nightclub VIP services are selling Veblen/positional goods
      <ul><li>commodities whose demand scales with price and desirability; status symbols</li></ul>
    </li>

  <ul>
</div>