

<h2><a href="/slide4">Solution</a></h2>
<div id="tb-presentation-container">
  <ul>
    <li>Software Platform
      <ul>
        <li>UI to customize Nightclub experience, reserve, and purchase</li>
        <li>Legitimize and review quality Promoters</li>
        <li>Split payments across a group prior to event</li>
        <li>Pricing control for Nightclubs/Promoters Users</li>
      </ul>
    </li>
    <li>Benefits
      <ul>
        <li>For users, reduces headaches of current system</li>
        <li>For Nightclubs/Promoters, raises productivity, brings the payment earlier in pipeline, provides pricing flexibility.</li>
      </ul>
    </li>
  <ul>
</div>