--><div class="tb-card">

  <div class="tb-card-header">
    <h1>Split the Bill</h1>
    <div class="tb-card-header-option-left">
      <a href="#" ns-slider-page="5">Back</a>
    </div>
    <!-- .tb-card-header-option-left -->
    <div class="tb-card-header-option-right">
    </div>
    <!-- .tb-card-header-option-right -->
  </div>
  <!-- .tb-card-header -->

  <div class="tb-card-content" style="height: 643px;">

    <div class="tb-list-panel" style="height: 452px; margin-top: 513px;">
      <a class="tb-button tb-button-plain">Add Another Paying Party</a>
      <strong>Grand Total:</strong>
      <span class="tb-cart-total">$0.00</span>
      <p>This total will be divided amongst however many paying party members you add.</p>
      <a href="#" class="tb-button tb-button-cta">Bill Paying Parties</a>
    </div>
    <!-- .tb-list-panel -->
    
    <ul class="tb-detail-list">
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-6.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Brock Lasker</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-7.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Daryl Emert</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-8.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Omar Jones</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
    </ul>
    <!-- .tb-detail-list -->

  </div>
  <!-- .tb-card-content -->

</div>
<!-- .tb-card -->
