<li>

  <h1><em>Avg</em> <strong>Average</strong> Salary <span>per</span> Month</h1>
  <div id="gp-header-step">
    <span>Step Two</span>
  </div>
  <!-- #gp-header-step -->

  <section id="gp-column-left">
    <div class="gp-form-row">
      <label class="gp-label-large">Input your <strong>average monthly salary</strong>:</label>
      <input class="gp-input-large" type="text" id="salary" />
    </div>
    <!-- .gp-form-row -->
    <a class="gp-button gp-button-large" ns-slider-page="2" href="#">Go forward to <strong>next step</strong>. <i class="ss-icon">next</i></a>
    <a class="gp-button gp-button-negative" ns-slider-page="0" href="#">Go back to <strong>previous step</strong>. <i class="ss-icon">previous</i></a>
  </section>
  <!-- #gp-column-left -->

</li>