--><div class="tb-card">

  <div class="tb-card-header">
    <h1>Review Drink Order</h1>
    <div class="tb-card-header-option-left">
      <a href="#" ns-slider-page="4">Back</a>
    </div>
    <!-- .tb-card-header-option-left -->
    <div class="tb-card-header-option-right">
    </div>
    <!-- .tb-card-header-option-right -->
  </div>
  <!-- .tb-card-header -->

  <div class="tb-card-content" style="height: 643px;">

    <div class="tb-list-panel">
      <strong>Grand Total:</strong>
      <span class="tb-cart-total">$0.00</span>
      <p>In the next step this total will be divided amongst however many paying party members you add.</p>
      <a href="#" ns-slider-page="6" class="tb-button tb-button-cta">Split the Bill</a>
    </div>
    <!-- .tb-list-panel -->
    
    <ul id="tb-shopping-cart-echo" class="tb-detail-list">
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "drink-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Dom Perignon</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "drink-thumb-2.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Veuve Clicquot</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "drink-thumb-3.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Armand de Brignac</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "drink-thumb-4.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Bollinger</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
    </ul>
    <!-- .tb-detail-list -->

  </div>
  <!-- .tb-card-content -->

</div><!--