  <div class="tb-card">

    <div class="tb-card-header">
      <h1>Clubs in Atlanta, GA</h1>
      <div class="tb-card-header-option-left">
        <a href="#" id="tb-reset-to-start">Back</a>
      </div>
      <!-- .tb-card-header-option-left -->
      <div class="tb-card-header-option-right">
      </div>
      <!-- .tb-card-header-option-right -->
    </div>
    <!-- .tb-card-header -->

    <div class="tb-card-content">
      <ul id="tb-clubs">
        <li>
          <a href="#" ns-slider-page="1">
            <div class="tb-club-preview">
              <h3>Prive</h3>
              <span>Seats 6-12</span>
              <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
            </div>
            <!-- .tb-club-preview -->
          </a>
        </li>
        <li>
          <a href="#" ns-slider-page="1">
            <div class="tb-club-preview">
              <h3>Hakkasan</h3>
              <span>Seats 6-12</span>
              <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
            </div>
            <!-- .tb-club-preview -->
          </a>
        </li>
        <li>
          <a href="#" ns-slider-page="1">
            <div class="tb-club-preview">
              <h3>Opera</h3>
              <span>Seats 6-12</span>
              <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
            </div>
            <!-- .tb-club-preview -->
          </a>
        </li>
        <li>
          <a href="#" ns-slider-page="1">
            <div class="tb-club-preview">
              <h3>Tongue &amp; Groove</h3>
              <span>Seats 6-12</span>
              <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
            </div>
            <!-- .tb-club-preview -->
          </a>
        </li>
        <li>
          <a href="#" ns-slider-page="1">
            <div class="tb-club-preview">
              <h3>The Gold Room</h3>
              <span>Seats 6-12</span>
              <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
            </div>
            <!-- .tb-club-preview -->
          </a>
        </li>
      </ul>
      <!-- ul#tb-clubs -->
    </div>
    <!-- .tb-card-content -->

  </div><!-- 