<div id="gp-content-container">

  <div id="gp-content">

    <form id="p-form">
      <ul id="p-slider">
        <%= render "step1" %>
        <%= render "step2" %>
        <%= render "step3" %>
      </ul>
    </form>

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->