<div id="tb-wrapper" class="tb-splash">

  <nav>
    <div id="tb-menu-expander">
    </div>
    <!-- #tb-menu-expander -->
    <div id="tb-options">
      Options
    </div>
    <!-- #tb-menu -->
  </nav>

  <h1>Tables</h1>

  <h2>Go get me a table in ...</h2>

  <img id="tb-map" src="<%= asset_path "map.png" %>" />

  <ul id="tb-cities">
    <li><a href="/step01">Las Vegas</a></li>
    <li><a href="/step01">Los Angeles</a></li>
    <li class="tb-city-selected"><a href="/step01">Atlanta</a></li>
    <li><a href="/step01">Miami</a></li>
    <li><a href="/step01">New York</a></li>
    <li><a href="/step01">Charlotte</a></li>
  </ul>
  <!-- #tb-cities -->

</div>
<!-- #tb-wrapper -->



