<div id="tb-wrapper" class="tb-splash">

  <nav>
    <div id="tb-menu-expander">
    </div>
    <!-- #tb-menu-expander -->
    <div id="tb-options">
      Options
    </div>
    <!-- #tb-menu -->
  </nav>

  <h1>Tables</h1>

  <h2>Go get me a table in ...</h2>

  <img id="tb-map" src="<%= asset_path "map.png" %>" />

  <ul id="tb-cities">
    <li lat="36.1146460" lon="-115.1728160"><a href="#">Las Vegas</a></li>
    <li lat="34.0522340" lon="-118.2436850"><a href="#">Los Angeles</a></li>
    <li class="tb-city-selected" lat="33.7489950" lon="-84.3879820"><a href="#">Atlanta</a></li>
    <li lat="25.7889690" lon="-80.2264390"><a href="#">Miami</a></li>
    <li lat="40.7143530" lon="-74.0059730"><a href="#">New York</a></li>
    <li lat="35.2270870" lon="-80.8431270"><a href="#">Charlotte</a></li>
  </ul>
  <!-- #tb-cities -->

  <div id="tb-card-holder" class="tb-card-holder-hidden">
    <%= render "step01" %>
    <%= render "step02" %>
  </div>
<!-- #tb-card-holder -->

</div>
<!-- #tb-wrapper -->



