<div style="height: 900px; width: 450px; background: url(<%= image_url('preview_large2.jpg') %>) center no-repeat;">
  <iframe src="http://tables.dev" style="height: 568px; width: 320px; background: #fff; margin: 100px 20px 100px 20px;" />
</div>