<div id="tb-wrapper">

  <nav>
    <div id="tb-menu-expander">
    </div>
    <!-- #tb-menu-expander -->
    <div id="tb-options">
      Options
    </div>
    <!-- #tb-menu -->
  </nav>

  <h1>Tables</h1>

  <div id="tb-card-holder">
    <div class="tb-card">

      <div class="tb-card-header">
        <h1>Book Through This Promoter</h1>
        <div class="tb-card-header-option-left">
          Back
        </div>
        <!-- .tb-card-header-option-left -->
        <div class="tb-card-header-option-right">
        </div>
        <!-- .tb-card-header-option-right -->
      </div>
      <!-- .tb-card-header -->

      <div id="tb-club">
        <div id="tb-club-banner" style="margin-top: 300px;">
          <h3>Gabe Walker</h3>
          <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
          <div class="tb-club-go-left">
            <i class="ss-icon">◅</i>
          </div>
          <!-- .tb-club-go-left -->
          <div class="tb-club-go-right">
            <i class="ss-icon">▻</i>
          </div>
          <!-- .tb-club-go-right -->
        </div>
        <!-- #tb-club-banner -->
        <img src="<%= asset_path "promoter-1.jpg" %>" />
      </div>
      <!-- #tb-club -->

      <div class="tb-card-content" style="height: auto;">
        
        <div class="tb-card-content-wrapper">
          <p style="margin-top: 17px;">Thank you everyone for visiting my page. I'm a club promoter for OC Clubs and Playboy Mansion. If you need a guest list or VIP bottle service, please contact me for info. Thanks!</p>
          <a href="/step04" class="tb-button tb-button-cta" style="margin-top: 112px;">Book a Table</a>
        </div>
        <!-- .tb-card-content-wrapper -->

      </div>
      <!-- .tb-card-content -->

    </div>
    <!-- .tb-card -->
  </div>
  <!-- #tb-card-holder -->

</div>
<!-- #tb-wrapper -->



