<div id="tb-wrapper">

  <nav>
    <div id="tb-menu-expander">
    </div>
    <!-- #tb-menu-expander -->
    <div id="tb-options">
      Options
    </div>
    <!-- #tb-menu -->
  </nav>

  <h1>Tables</h1>

  <div id="tb-card-holder">
    <div class="tb-card">

      <div class="tb-card-header">
        <h1>Club Information &amp; Booking</h1>
        <div class="tb-card-header-option-left">
          Back
        </div>
        <!-- .tb-card-header-option-left -->
        <div class="tb-card-header-option-right">
        </div>
        <!-- .tb-card-header-option-right -->
      </div>
      <!-- .tb-card-header -->

      <h2 class="tb-section-header">Promoters for Opera</h2><!-- .tb-section-header -->

      <div class="tb-card-content" style="height: 441px;">

        Content

      </div>
      <!-- .tb-card-content -->

    </div>
    <!-- .tb-card -->
  </div>
  <!-- #tb-card-holder -->

</div>
<!-- #tb-wrapper -->



