<div id="tb-wrapper">

  <nav>
    <div id="tb-menu-expander">
    </div>
    <!-- #tb-menu-expander -->
    <div id="tb-options">
      Options
    </div>
    <!-- #tb-menu -->
  </nav>

  <h1>Tables</h1>

  <div id="tb-card-holder">
    <div class="tb-card">

      <div class="tb-card-header">
        <h1>Clubs in Atlanta, GA</h1>
        <div class="tb-card-header-option-left">
          Back
        </div>
        <!-- .tb-card-header-option-left -->
        <div class="tb-card-header-option-right">
        </div>
        <!-- .tb-card-header-option-right -->
      </div>
      <!-- .tb-card-header -->

      <div class="tb-card-content">
        <ul id="tb-clubs">
          <li>
            <a href="/step02">
              <div class="tb-club-preview">
                <h3>Prive</h3>
                <span>Seats 6-12</span>
                <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
              </div>
              <!-- .tb-club-preview -->
            </a>
          </li>
          <li>
            <a href="/step02">
              <div class="tb-club-preview">
                <h3>Hakkasan</h3>
                <span>Seats 6-12</span>
                <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
              </div>
              <!-- .tb-club-preview -->
            </a>
          </li>
          <li>
            <a href="/step02">
              <div class="tb-club-preview">
                <h3>Opera</h3>
                <span>Seats 6-12</span>
                <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
              </div>
              <!-- .tb-club-preview -->
            </a>
          </li>
          <li>
            <a href="/step02">
              <div class="tb-club-preview">
                <h3>Tongue &amp; Groove</h3>
                <span>Seats 6-12</span>
                <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
              </div>
              <!-- .tb-club-preview -->
            </a>
          </li>
          <li>
            <a href="/step02">
              <div class="tb-club-preview">
                <h3>The Gold Room</h3>
                <span>Seats 6-12</span>
                <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
              </div>
              <!-- .tb-club-preview -->
            </a>
          </li>
        </ul>
        <!-- ul#tb-clubs -->
      </div>
      <!-- .tb-card-content -->

    </div>
    <!-- .tb-card -->
  </div>
  <!-- #tb-card-holder -->

</div>
<!-- #tb-wrapper -->



