@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";
@import "susy";


/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  0.  SCSS Variables
      - Color Theme
      - Media Size Breakpoints
      - Susy Grid Settings
      - Font Stacks
      - Z Indices

  1.  Universal Cascade
      - Body

  2.  Tag-Specific Styles
      - Forms
      - Tables

  3.  Utility Classes
      - Paragraph Variations
      - Buttons

  4.  Template Sections

  5.  Content Elements

  6.  Pages

  7.  JS Widgets

****************************************************************************************************/



/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Color Theme */
/************************************************/

$font-header-color:   #575548;
$font-body-color:     #575548;

$brown:               #575548;
$brown-light:         #dbdbd6;

$white:               #ffffff;
$black:               #000000;
$off-white:           #fcfcfa;
$beige:               #efedde;

$teal:                #6bd7c7;
$teal-dark:           #40a795;

$red:                 #f86f6b;
$red-dark:            #db423f;

$orange:              #f1a953;
$blue:                #516a9e;
$magenta:             #dd407b;


/* Media Size Breakpoints */
/************************************************/

$monitor-breakpoint:  1200px;
$laptop-breakpoint:   980px;
$tablet-breakpoint:   768px;
$phone-breakpoint:    480px;
$mobile-breakpoint:   768px;

@mixin screen-format($media-type) {
  @if $media-type == monitor {
    @media (min-width: $monitor-breakpoint) { @content; }
  }
  @else if $media-type == laptop {
    @media (min-width: $laptop-breakpoint) and (max-width: $monitor-breakpoint - 1) { @content; }
  }
  @else if $media-type == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) { @content; }
  }
  @else if $media-type == phone {
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint - 1) { @content; }
  }
  @else if $media-type == nano {
    @media (max-width: $phone-breakpoint - 1) { @content; }
  }
  @else if $media-type == mobile {
    @media (max-width: $tablet-breakpoint - 1) { @content; }
  }
}

/* Susy Grid Settings */
/************************************************/

$total-columns:   4;
$column-width:    114px;
$gutter-width:    40px;
$grid-padding:    0;


/* Font Stacks */
/************************************************/

$sans-serif-font: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$logotype-font: 'Josefin Sans', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$symbolset-standard: "SSStandard";
$symbolset-symbolicons: "SSSymbolicons";
$symbolset-social: "SSSocial";






html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: $sans-serif-font;
  line-height: 30px;
  color: $font-body-color;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

hr {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
}

strong { font-weight: 700; }
em { font-style: italic; }

p {}

label {
  display: inline-block;
}

input,
textarea,
select {
  display: inline-block;
  font-family: $sans-serif-font;
  font-size: 20px;
  line-height: 30px;
}

input:focus,
textarea:focus,
select:focus { outline: none; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 8px 14px 10px 14px;
  border: 1px solid $font-body-color;
  color: $font-body-color;
  @include box-sizing(border-box);
  @include border-radius(2px);
}

a {
  color: $orange;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}







#tb-wrapper {
  display: block;
  float: left;
  width: 640px;
  height: 1136px;
  text-align: center;
  background: transparent image-url("body-background.jpg") no-repeat center center;
  h1 {
    display: block;
    color: #a4c7dc;
    font-size: 24px;
    line-height: 80px;
    font-family: $logotype-font;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 20px;
    @include text-shadow(0 0 10px rgba(127, 238, 255, 1), 0 0 50px rgba(127, 238, 255, 1), 0 1px 0 #000000);
    @include opacity(0.97);
    @include transition-property(font-size, line-height, letter-spacing);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in); 
    @include transition-delay(0);
  }
  h2 {
    display: block;
    margin: 82px 0 79px 0;
    color: #ffffff;
    font-size: 32px;
    line-height: 1em;
    font-weight: 100;
    @include opacity(.66);
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);
    @include transition-delay(0.5s);
  }
  > nav {
    display: block;
    width: 100%;
    height: 75px;
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    @include opacity(1);
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in); 
    @include transition-delay(0.25s);
    #tb-menu-expander {
      display: block;
      float: left;
      width: 30px;
      height: 25px;
      margin: 25px 0 0 25px;
      background: transparent image-url("hamburger.png") no-repeat 0 0;
    }
    #tb-options {
      display: block;
      float: right;
    }
  }
  > img#tb-map {
    @include opacity(1);
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);
    @include transition-delay(0.75s);
  }
  ul#tb-cities {
    display: block;
    width: 100%;
    padding: 0 10px;
    margin: 50px 0 0 0;
    @include box-sizing(border-box);
    li {
      display: block;
      margin: 0 0 10px 0;
      a {
        display: block;
        height: 80px;
        font-size: 36px;
        font-weight: 100; 
        line-height: 75px;
        text-decoration: none;
        color: #ffffff;
        @include opacity(1);
        @include transition-property(opacity);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in); 
      }
    }
    li:nth-child(1) a { @include transition-delay(0.90s); }
    li:nth-child(2) a { @include transition-delay(1.05s); }
    li:nth-child(3) a { @include transition-delay(1.20s); }
    li:nth-child(4) a { @include transition-delay(1.35s); }
    li:nth-child(5) a { @include transition-delay(1.50s); }
    li:nth-child(6) a { @include transition-delay(1.65s); }
    li.tb-city-selected a,
    li a:hover {
      background: rgba(255, 255, 255, 0.05);
    }
  }
}

#tb-wrapper.tb-splash {
  > h1 {
    font-size: 48px;
    line-height: 1136px;
    letter-spacing: 35px;
  }
  > h2 {
    @include opacity(0);
  }
  > img#tb-map {
    @include opacity(0);
  }
  > nav {
    @include opacity(0);
  }
  ul#tb-cities {
    li {
      a { @include opacity(0); }
    }
  }
}



.tb-card {
  text-align: left;
}



























































